Source: mydebian
Section: unknown
Priority: optional
Maintainer: Sasha Oronovskaya <sunnyient@unknown>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/mydebian
#Vcs-Git: https://salsa.debian.org/debian/mydebian.git

Package: mydebian
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
